Repository edumeet/edumeet, pull requests merged in 2021-06, with the labels that each got.

#728 Chat improvements
  app/package.json
  app/src/RoomClient.js
  app/src/actions/chatActions.js
  app/src/actions/fileActions.js
  app/src/components/Controls/ButtonControlBar.js
  app/src/components/Controls/TopBar.js
  app/src/components/MeetingDrawer/Chat/Chat.js
  app/src/components/MeetingDrawer/Chat/ChatInput.js
  app/src/components/MeetingDrawer/Chat/ChatModerator.js
  app/src/components/MeetingDrawer/Chat/List/Item/File.js
  app/src/components/MeetingDrawer/Chat/List/Item/Message.js
  app/src/components/MeetingDrawer/Chat/List/List.js
  app/src/components/MeetingDrawer/Chat/Menu/Input.js
  app/src/components/MeetingDrawer/Chat/Menu/Moderator.js
  app/src/components/MeetingDrawer/Chat/Message.js
  app/src/components/MeetingDrawer/Chat/MessageList.js
  app/src/components/MeetingDrawer/FileSharing/File.js
  app/src/components/MeetingDrawer/FileSharing/FileList.js
  app/src/components/MeetingDrawer/FileSharing/FileSharing.js
  app/src/components/MeetingDrawer/MeetingDrawer.js
  app/src/components/Room.js
  app/src/images/pin-icon-baseline.svg
  app/src/images/pin-icon-outline.svg
  app/src/reducers/chat.js
  app/src/reducers/files.js
  app/src/reducers/helper.js
  app/src/reducers/toolarea.js
  app/src/translations/cn.json
  app/src/translations/cs.json
  app/src/translations/de.json
  app/src/translations/dk.json
  app/src/translations/el.json
  app/src/translations/en.json
  app/src/translations/es.json
  app/src/translations/fr.json
  app/src/translations/hi.json
  app/src/translations/hr.json
  app/src/translations/hu.json
  app/src/translations/it.json
  app/src/translations/kk.json
  app/src/translations/lv.json
  app/src/translations/nb.json
  app/src/translations/pl.json
  app/src/translations/pt.json
  app/src/translations/ro.json
  app/src/translations/ru.json
  app/src/translations/tr.json
  app/src/translations/tw.json
  app/src/translations/uk.json
  server/lib/Room.js
Labels: feat/ chat, feat/ file-sharing, feat/ ui, feat/ ui-drawer, misc/ improvement, misc/ new feature, misc/ refactoring

#777 Feat advanced audio options
  app/README.md
  app/package.json
  app/public/config/config.example.js
  app/src/RoomClient.js
  app/src/actions/consumerActions.js
  app/src/actions/settingsActions.js
  app/src/components/Containers/Me.js
  app/src/components/Containers/Peer.js
  app/src/components/Containers/SpeakerPeer.js
  app/src/components/Settings/AppearanceSettings.js
  app/src/components/Settings/MediaSettings.js
  app/src/components/Settings/Settings.js
  app/src/components/VideoContainers/AudioAnalyzer.ts
  app/src/components/VideoContainers/VideoView.js
  app/src/config.ts
  app/src/reducers/consumers.js
  app/src/reducers/settings.js
  app/src/store.js
  app/src/transforms/receiver.ts
  app/src/translations/en.json
  app/tsconfig.json
  app/yarn.lock
Labels: feat/ audio-video, feat/ ui, feat/ ui-settings

#788 Add leaving room confirmation Dialog
  app/src/actions/roomActions.js
  app/src/components/Controls/TopBar.js
  app/src/components/LeaveDialog.js
  app/src/components/Room.js
  app/src/reducers/room.js
  app/src/translations/cn.json
  app/src/translations/cs.json
  app/src/translations/de.json
  app/src/translations/dk.json
  app/src/translations/el.json
  app/src/translations/en.json
  app/src/translations/es.json
  app/src/translations/fr.json
  app/src/translations/hi.json
  app/src/translations/hr.json
  app/src/translations/hu.json
  app/src/translations/it.json
  app/src/translations/kk.json
  app/src/translations/lv.json
  app/src/translations/nb.json
  app/src/translations/pl.json
  app/src/translations/pt.json
  app/src/translations/ro.json
  app/src/translations/ru.json
  app/src/translations/tr.json
  app/src/translations/tw.json
  app/src/translations/uk.json
Labels: feat/ ui

#781 Local recording feature
  CHANGELOG.md
  README.md
  app/package.json
  app/src/BrowserRecorder.js
  app/src/RoomClient.js
  app/src/actions/meActions.js
  app/src/actions/notificationActions.js
  app/src/actions/peerActions.js
  app/src/actions/recorderActions.js
  app/src/actions/settingsActions.js
  app/src/components/Controls/TopBar.js
  app/src/components/JoinDialog.js
  app/src/components/Notifications/Notifications.js
  app/src/components/Selectors.js
  app/src/components/Settings/MediaSettings.js
  app/src/index.js
  app/src/reducers/me.js
  app/src/reducers/notifications.js
  app/src/reducers/peers.js
  app/src/reducers/settings.js
  app/src/store.js
  app/src/translations/cn.json
  app/src/translations/cs.json
  app/src/translations/de.json
  app/src/translations/dk.json
  app/src/translations/el.json
  app/src/translations/en.json
  app/src/translations/es.json
  app/src/translations/fr.json
  app/src/translations/hi.json
  app/src/translations/hr.json
  app/src/translations/hu.json
  app/src/translations/it.json
  app/src/translations/kk.json
  app/src/translations/lv.json
  app/src/translations/nb.json
  app/src/translations/pl.json
  app/src/translations/pt.json
  app/src/translations/ro.json
  app/src/translations/ru.json
  app/src/translations/tr.json
  app/src/translations/tw.json
  app/src/translations/uk.json
  package-lock.json
  server/config/config.example.js
  server/lib/Peer.js
  server/lib/Room.js
  server/permissions.js
  server/server.js
Labels: misc/ new feature
